.footer {
    background-color: rgb(41, 44, 66);
    padding: 40px;
    margin-top: 50px;
}
.footer__text {
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}
.footer__phone a, .footer__email {
    color: white;
}
hr {
    margin: 50px -40px;
}
.footer__title {
    transform: translateY(-4px);
}
.footer__title a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(7px);
}
.footer__title a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}